/* Globals */
@import url('./vars.css');
@import url('./reset.css');
@import url('./typography.css');

/* Defaults for basic elements */
@import url('./card.css');
@import url('./inputs.css');

body {
  font-family: var(--font-body);
  color: var(--white);
  font-weight: var(--font-weight-normal);
  background-color: var(--grey05);
  height: 100vh;
}

@keyframes colorAnimation {
  0% {
    color: var(--white);
  }
  25% {
    color: var(--pink);
  }
  50% {
    color: var(--white);
  }
  75% {
    color: var(--magenta);
  }
  100% {
    color: var(--white);
  }
}