input {
  background-color: var(--grey04);
  margin-bottom: .5rem;
  border: 0 none;
  border-bottom: 1px solid var(--grey03);
  padding: .5rem;
  color: var(--white);

  &:focus-visible {
    outline: 2px solid var(--white);
    outline-offset: -2px;
  }
}

label {
  font-size: .75rem;
  color: var(--white);
}