---
import HostLayout from '../../layouts/HostLayout.astro';
import VideoPlayer from '../../components/VideoPlayer.astro';
import { getPartyBySlug } from '../../controllers/partyController';
import { getCurrentSong } from '../../controllers/queueController';
import SongQueue from '../../components/SongQueue.astro';
import ScanToJoin from '../../components/ScanToJoin.astro';
import { sanitizeString } from '../../helpers/string';

const { slug } = Astro.params;
const party = await getPartyBySlug(slug as string);
const sanitizedSlug = sanitizeString(slug as string);
const currentSong = await getCurrentSong(sanitizedSlug)
---

<HostLayout
  title={`${party?.name} | Host Party | Fancy Karaoke`}
  partySlug={slug as string}
  hasCurrentSong={!!currentSong}
>
  <section class={`videoSection ${currentSong ? 'hasVideo' : ''}`} slot="video">
    { currentSong ?
      <VideoPlayer
        songId={currentSong?.id as number}
        partySlug={slug as string}
        queueItemId={currentSong?.queue_id}
        autoplay={0}
      />
    : 
      <ScanToJoin slug={slug as string} name={party?.name as string} />
    }
  </section>
  <section class="queueSection" slot="side">
    <SongQueue slug={sanitizedSlug} userType='HOST'/>
  </section>
</HostLayout>

<style>
  .videoSection {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .videoSection.hasVideo::after {
    display: block;
    content: "";
    padding-top: 56.25%;
  }
</style>