---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Create a party | Fancy Karaoke">
	<main class="px-8">
		<h2 class="text-slate-200">Create Party</h1>

    <form class="flex flex-col justify-start">
      <label for="party-name">Party Name</label>
      <input type="text" name="party-name" placeholder="Enter party name" id="party-name" />
      <button type="submit">Start Party!</button>
    </form>
	</main>
</Layout>