---
import Layout from '../layouts/Layout.astro';
import { createParty } from '../controllers/partyController';
let error: Error;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const honeypot = data.get('email-shazbot');
    if (honeypot) {
      throw new Error(`Honeypot | ${honeypot}`)
    }
    const partyName = data.get("party-name");
    // Do something with the data
    const result =  await createParty(partyName as string);

    if (result?.created) {
      return Astro.redirect(`/host/${result?.slug}`)
    }

  } catch (err) {
    if (err instanceof Error) {
      console.error(err.message);
      error = err;
    }
  }
}
---

<Layout title="Create a party | Fancy Karaoke">
	<div class="create-party-page">
		<h2>Create Party</h1>

    <section class="card">
      <form method="post" action="/create-party">
        <label for="party-name">Party Name</label>
        <input type="text" name="party-name" placeholder="Enter party name" id="party-name" required minlength="2" />

        <div style={{display: 'none'}}>
          <label for="shazbot">Enter your email address</label>
          <input type="text" name="email-shazbot" id="email-shazbot" />
        </div>
        <br />
        <button
          class="button"
          type="submit"
        >
          Create party!
        </button>
      </form>
    </section>
	</div>
</Layout>

<style>
  .create-party-page {
    max-width: 600px;
    margin: 0 auto;
  }
</style>