---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Fancy Karaoke">
	<main>
		<p><a href="/host" data-astro-prefetch>Host a party</a> | <a href="/join" data-astro-prefetch>Join a party</a></p>
	</main>
</Layout>
