---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import PartyIdForm from '../../components/PartyIdForm.astro';
import { selectPartyBySlug } from '../../models/partyModel';
import { sanitizeString } from '../../helpers/string'
let error: Error;
const userName = Astro.cookies.get('fk-name');
const sanitizedUserName = userName?.value ? sanitizeString(userName?.value) : null;
const partyId = Astro.url.searchParams.get('party-id');
const santizedPartyId = partyId ? sanitizeString(partyId) : null;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    // Honeypot bot protection
    const honeypot = data.get('email');
    if (honeypot) {
      throw new Error(`Honeypot | ${honeypot}`)
    }

    // Proceed if honeypot is not tripped
    const partyName = data.get("party-name") as string;
    const attendeeName = data.get('attendee-name') as string;
    const result = partyName ? await selectPartyBySlug(partyName) : null;
    if (result && attendeeName) {
      Astro.cookies.set('fk-name', sanitizeString(attendeeName));
      return Astro.redirect(`/attend/${result?.slug}/queue`);
    }
  } catch (err) {
    if (err instanceof Error) {
      console.error(err.message);
      error = err;
    }
  }
}

---

<Layout title="Fancy Karaoke">
	<main>
    <Card title="Join Party">
      <PartyIdForm 
        method='POST'
        action="/join"
        fieldLabel="Party ID"
        placeholder="Enter Party ID"
        buttonLabel="Join Party!"
        partyId={santizedPartyId ? santizedPartyId : undefined}
      >
        <label for="attendee">Your Name</label>
        <input
          type="text"
          id="attendee"
          name="attendee-name"
          placeholder="Enter Your Name"
          class="name-input"
          value={sanitizedUserName}
        />
      </PartyIdForm>
    </Card>
  </main>
</Layout>

<style>
  .name-input {
    width: 100%;
  }
</style>