---
interface Props {
	title: string;
}

const {title } = Astro.props;
---

<div class="card">
	<h2 class="card-title">
		{title}
	</h2>
	<div class="card-body">
		<slot />
	</div>
</div>
<style>
	.card {
		max-width: 600px;
    margin: 0 auto;
		background-color: var(--white);
		border-radius: 2px;
		border: 2px solid var(--bruise02)
	}
	.card-title {
		margin: 0 0 1.5rem 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		color: var(--grey05);
	}
	.submit-button {
		margin-left: auto;
	}
</style>
