---
import FooterQR from './FooterQR.astro';
interface Props {
	partyId: string;
  showQR: boolean;
}

const { partyId, showQR } = Astro.props;
---

<footer class="host-footer">
  <span class="partyId">Party Id: {partyId}</span>
  <FooterQR slug={partyId} showQR={showQR} />
</footer>

<style>
  .host-footer {
    display: flex;
    position: relative;
    justify-content: space-between;
    max-height: 2.5rem;
    background-color: var(--grey);
    padding: .5rem 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
</style>
