---
import SkipSongButton from "./SkipSongButton.astro"
---

<header class="site-header">
	<h1><a href="/">Fancy Karaoke</a></h1>
  <SkipSongButton showButton={false} />
</header>

<style>
  .site-header {
		background-color: var(--primary);
		border-bottom: 1px solid var(--magenta04);
		color: var(----grey);
		padding: .5rem 2rem;
    display: flex;
    justify-content: space-between;
	}
</style>