---
import Button from "./Button.astro"
---

<header class="site-header">
	<h1><a href="/">Fancy Karaoke</a></h1>

  <Button
    id="skip-video-button"
    className="skip-button"
    name="skip"
    variant="tertiary"
    hxTrigger="click"
    hxPost="/partials/next-video"
    hxInclude="[name='queueItemId'], [name='slug']"
    hxSwap="outerHTML"
    hxTarget="#videoPlayerWrapper"
    hxConfirm="Are you sure you want to skip this song?"
  >
    Skip current song &rarr; 
  </Button>
</header>

<style>
  .site-header {
		background-color: var(--primary);
		border-bottom: 1px solid var(--magenta04);
		color: var(----grey);
		padding: .5rem 2rem;
    display: flex;
    justify-content: space-between;
	}
</style>