---
import SkipSongButton from "./SkipSongButton.astro";
import { getQueueCountByPartySlug } from '../controllers/queueController';

interface Props {
  partySlug: string
};

const { partySlug } = Astro.props;

const count = await getQueueCountByPartySlug(partySlug);
const showButton = count && count > 0;
---

<header class="site-header">
 	<h1><a href="/"><img class="sitelogo" src="/icons/fk-logo.svg" alt="Fancy Karaoke"/></a></h1> 
	<SkipSongButton showButton={showButton as boolean} slug={partySlug} />
</header>

<style>
  .site-header {
		background-color: var(--primary);
		border-bottom: 1px solid var(--magenta04);
		color: var(----grey);
		padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
		height: 75px;
	}
	.sitelogo {
		height: 2.5rem;
	}
</style>