---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body hx-boost>
		<header>
			<h1><a href="/">Fancy Karaoke</a></h1>
		</header>
		<main>
			<slot />
		</main>
		<script>
			import defineButton from '../components/button';
			defineButton()
		</script>
		<script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
	</body>
</html>

<style>
	header {
		background-color: var(--primary);
		border-bottom: 1px solid var(--magenta04);
		color: var(----grey);
		padding: .5rem 2rem;
	}
	main {
		padding: 1.5rem 2rem;
	}
</style>