---
interface Props {
  slug: string
  name: string
};

const {slug, name} = Astro.props;
---
<div 
  class="scanToJoin"
  hx-get="/partials/current-video"
  hx-trigger="queueUpdated from:body"
  hx-swap="outerHTML"
>
  <p class="scanToJoin__text">
    Scan to join party, search for songs, and add them to the queue!
  </p>
  <img class="qr" width="500" height="500" src=`/qr.svg?partyid=${slug}` alt=`Join Party ${name}` />
</div>

<style>
  .scanToJoin__text {
    margin-bottom: 1rem;
  }
</style>