---
interface Props {
  partySlug: string,
  userName: string
}

const { partySlug, userName } = Astro.props;

---

<form>
  <div class="fieldWrap">
    <input type="hidden" value={partySlug} name="partySlug" />
    <input type="hidden" value={userName} name="userName" />
    <label for="searchInput">Song Search</label>
    <input 
      type="text"
      name="search"
      id="searchInput"
      placeholder="Search for song by artist or title"
      hx-post="/partials/song-search" 
      hx-trigger="input changed delay:200ms, search" 
      hx-target="#searchResults" 
      hx-indicator=".htmx-indicator"
      hx-swap="outerHTML"
    />
  </div>
  <ul id="searchResults"></ul>
</form>

<style>
  #searchInput {
    width: 100%;
  }
</style>

<style is:global>
  .fieldWrap {
    margin-bottom: .5rem;
  }
  .searchResultsList {
    padding: 0;
  }
  .resultTextWrap {
    display: flex;
    flex-direction: column;
  }
  .songSearchResult {
    list-style-type: none;
    margin: 0 -1.5rem;

    &:nth-child(odd) {
      background-color: var(--pink01);
    }
  }
  .songSearchResultLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
    padding: .5rem 3rem;
    margin: 0 -1.5rem;
    &:hover {
      cursor: pointer;
    }
  }
  .songSearchResultInput {
    position: absolute;
    left: -9999px;
  }
  .songArtist {
    color: var(--grey05);
    font-weight: 700;
  }
  .songTitle {
    color: var(--grey05);
  }
  .searchPlusIcon {
    color: var(--grey05);
    font-weight: 700;
    font-size: 2rem;
  }
</style>