---
interface Props {
	id: string;
}

const { id } = Astro.props;

---

<section class="tabContainer" id={id}>
  <ul class="tabRow">
    <slot name="tabButtons" />
  </ul>
  <div class="tabContents" id="tabContents" role="tabpanel">
    <slot name="tabContent" />
  </div>
</section>

<style>
  .tabContainer {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .tabRow {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .tabContents {
    background-color: var(--white);
    color: var(--grey05);
    padding: 1.5rem;
  }
</style>