---
import HeadMeta from '../components/HeadMeta.astro';
import HostFooter from '../components/HostFooter.astro';

interface Props {
	title: string;
	partyId: string;
}

const { title, partyId } = Astro.props;
import '../styles/global.css';

---
<!doctype html>
<html lang="en">
	<HeadMeta title={title} />
	<body hx-boost>
		<header>
			<h1><a href="/">Fancy Karaoke</a></h1>
		</header>
		<main>
			<slot />
		</main>
		<HostFooter partyId={partyId} />
		<script>
			import defineButton from '../components/button';
			defineButton()
		</script>
		<script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
	</body>
</html>

<style>
	header {
		background-color: var(--primary);
		border-bottom: 1px solid var(--magenta04);
		color: var(----grey);
		padding: .5rem 2rem;
	}
	main {
		padding: 1.5rem 2rem;
	}
</style>